body {
    background-color: #defde2;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #4CAF50;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 45px;
    text-align: center;
    margin-top: 20px;

}

p {
    color: #0b4d0e;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 20px 0;
    align: center;

}